$color-primary: #e75a7c;
$color-primary-light: #eb708d;
$color-primary-dark: #e64c70;

// $color-grey-dark: #1b2228;
$color-grey-dark-light: #313131;
$color-grey-dark: #222222;
$color-grey-dark-dark: #13181c;

$color-grey-light: #f2f5ea;
$color-grey-light-light: #ffffff;
$color-grey-light-dark: #eef2e3;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-green-1: #222222;
$color-red-1: #3b46f0;

$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

$line: 1px solid $color-grey-dark-light;

$bp-largest: 75em; /* 1200px */
$bp-large: 68.75em; /* 1100px */
$bp-medium: 56.25em; /* 900px */
$bp-small: 37.5em; /* 600px */
$bp-smallest: 31.25em; /* 500px */
